%h2 Menu
%ul 
  %li
    = link_to t('personal_informations'), personal_informations_path
  %li
    = link_to t('observation_tutorials'), observation_tutorials_path
  %li
    = link_to t('personal_informations'), personal_informations_path
